* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #E5E5E5;
}

body {
  background-color: #E0E0E0;
  border-left: 0.063em solid #DBDBDB;
  border-right: 0.063em solid #DBDBDB;
  border-bottom: 0.063em solid #EFEFEF;
  color: #444;
  font-family: 'Droid Sans', 'Helvetica Neue' Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0 auto;
  padding: 0.5em 1em;
	width: 90%;
}

/*
	typography
*/
h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {
  font-size: 2em;
  line-height: 2.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

a {
  color: #1d97ff;
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
}

ul, ol, p {
  margin-bottom: 1em;
}

ul {
  padding-left: 1.250em;
}

ol {
  list-style: none;
}

table {
	background-color: #fff;
  border-collapse: collapse;
	font-size: 0.875em;
  margin-bottom: 1em;
  text-align: left;
  width: 100%;
}

th {
	/* scope="col" */
  border-bottom: solid 0.125em #BFBFBF;
  font-weight: normal;
  padding-right: 1em;
  padding-bottom: 0.5em;
  vertical-align: bottom;
	white-space: nowrap;
}

th[scope="row"] {
  border-bottom: solid 0.063em #E5E5E5;
	min-width: 15.625em;
  vertical-align: middle;
	white-space: normal;
}

td {
  vertical-align: top;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

tr {
  border-bottom: solid 0.063em #E5E5E5;
}
	tr:nth-child(even) {
		background-color: #fafafa;
	}

/*
	boxes
*/

.box {
  background-color: #F2F2F2;
  border: solid 0.063em #E5E5E5;
  margin-bottom: 1em;
  padding: 1em;
}
  .box ul li, .box ol li {
    margin-bottom: 0.5em;
}

/*
	layout
*/
#main-content {
  clear: both;
  background-color: #fff;
  border-top-width: 1em;
  border-top-style: solid;
  border-top-color: #fff;
  margin-left: -2em;
  margin-right: -2em;
  min-height: 25em;
  position: relative;
}

#content-area {
  padding: 1em;
}

/*
	header
*/

#app-header {
	color: #bbb;
  padding-bottom: 0.5em;
  position: relative;
}

#app-header ul {
  list-style: none;
  padding: 0;
}
  #app-header ul li {
    float: left;
}

ul.navigation {
  float: left;
  margin-right: 0.5em;
  margin-bottom: 0;
}
  ul.navigation li {
    font-weight: bold;
    position: relative;
	}
    ul.navigation li a {
      color: #fff;
      float: left;
      padding: 0.5em 0.750em;
		}
ul#admin-options {
  text-align: right;
  border-bottom: dotted 0.063em #bbb;
  height: 1.5em;
}
  ul#admin-options li {
    float: right;
    margin-left: 1em;
	}
  ul#admin-options form {
    float: right;
	}

ul.navigation:last-child {
  font-size: 0.875em;
  margin-right: 0;
}

ul.navigation:last-child li {
  font-weight: normal;
}

/*
	footer
*/

#footer {
  color: #bbb;
  font-size: 0.750em;
  padding-top: 0.5em;
}

#footer a {
  color: #fff;
}

/*
	notifications
*/
.flash-notice, .flash-alert {
  background-color: #FFD2D8;
  border: solid 0.063em #FF214C;
  color: #FF214C;
  padding: 0.5em;
  text-align: center;
}

.flash-notice {
  background: #CBFFE7;
  border: solid 0.063em #00D400;
  color: #00D400;
}
