* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #E5E5E5;
}

body {
  background-color: #E0E0E0;
  border-left: 0.063em solid #DBDBDB;
  border-right: 0.063em solid #DBDBDB;
  border-bottom: 0.063em solid #EFEFEF;
  color: #444;
  font-family: 'Droid Sans', 'Helvetica Neue' Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0 auto;
  padding: 0.5em 1em;
	width: 92.5%;
}

/*
	typography
*/
h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {
  font-size: 2em;
  line-height: 2.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

a {
  color: #1d97ff;
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
}

ul, ol, p {
  margin-bottom: 1em;
}

ul {
  padding-left: 1.250em;
}

ol {
  list-style: none;
}

table {
	background-color: #fff;
  border-collapse: collapse;
	font-size: 0.875em;
  margin-bottom: 1em;
  text-align: left;
	width: 100%;
}

th {
	/* scope="col" */
  border-bottom: solid 0.125em #BFBFBF;
  font-weight: normal;
  padding-right: 1em;
  padding-bottom: 0.5em;
  vertical-align: bottom;
	white-space: nowrap;
}

th[scope="row"] {
  border-bottom: none;
	min-width: 15.625em;
	padding-top: 1em;
  vertical-align: top;
	white-space: normal;
}

td {
  vertical-align: top;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

tr {
  border-bottom: solid 0.125em #E5E5E5;
}
	tr:nth-child(even) {
		background-color: #fafafa;
	}

/*
	boxes
*/

.box {
  background-color: #F2F2F2;
  border: solid 0.063em #E5E5E5;
  margin-bottom: 1em;
  padding: 1em;
}
  .box ul li, .box ol li {
    margin-bottom: 0.5em;
}

/*
	layout
*/
#main-content {
  clear: both;
  background-color: #fff;
  border-top-width: 1em;
  border-top-style: solid;
  border-top-color: #fff;
	margin-left: -1em;
	margin-right: -1em;
  min-height: 25em;
  position: relative;
}

#content-area {
  padding: 1em;
}

/*
	filtering
*/

div.needs-content {
  float: right;
  width: 83%;

	overflow: scroll;
}

div.search-filters {
	border-right: solid 0.063em #eee;
	float: left;
  width: 15%;
}

ul.filter {
  border-bottom: solid 0.063em #eee;
}
	ul.filter li {
		line-height: 1.35em;
	}

	ul.filter li:last-child {
		margin-bottom: 1em;
	}

dl.filter {
  border-bottom: solid 0.063em #eee;
	margin-bottom: 1em;
	padding-bottom: 0.75em;
}
	dl.filter dt,
	dl.filter dd {
		display: inline-block;
	}

ul.tags {
	margin-bottom: 0;
	padding-left: 0;
}

	ul.tags li {
		display: inline-block;
		line-height: 1.5em;
		margin-right: 0.75em;
	}

	ul.tags li a {
	}

.paginate {
	margin: 1em 0;
}
	.paginate dt {
		display: inline;
	}
	.paginate dd {
		background: #1D97FF;
		-webkit-border-radius: 0.25em;
		-moz-border-radius: 0.25em;
		border-radius: 0.25em;
		display: inline;
		padding: 0 0.5em 0.25em;
	}
	.paginate a {
		color: #fff;
		font-weight: bold;
		vertical-align: middle;
	}

/*
	header
*/

#app-header {
	color: #bbb;
  padding-bottom: 0.5em;
  position: relative;
}

#app-header ul {
  list-style: none;
  padding: 0;
}
  #app-header ul li {
    float: left;
}

ul.navigation {
  float: left;
  margin-right: 0.5em;
  margin-bottom: 0;
}
  ul.navigation li {
    font-weight: bold;
    position: relative;
	}
    ul.navigation li a {
      color: #fff;
      float: left;
      padding: 0.5em 0.750em;
		}
ul#admin-options {
  text-align: right;
  border-bottom: dotted 0.063em #bbb;
  height: 1.5em;
}
  ul#admin-options li {
    float: right;
    margin-left: 1em;
	}
  ul#admin-options form {
    float: right;
	}

ul.navigation:last-child {
  font-size: 0.875em;
  margin-right: 0;
}

ul.navigation:last-child li {
  font-weight: normal;
}

/*
	footer
*/

#footer {
  color: #bbb;
  font-size: 0.750em;
  padding-top: 0.5em;
}

#footer a {
  color: #fff;
}

/*
	notifications
*/
.flash-notice, .flash-alert {
  background-color: #FFD2D8;
  border: solid 0.063em #FF214C;
  color: #FF214C;
  padding: 0.5em;
  text-align: center;
}

.flash-notice {
  background: #CBFFE7;
  border: solid 0.063em #00D400;
  color: #00D400;
}

/*
	micro clearfix
*/

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }