body {
  background-color: #333; }

.two-thirds {
  float: left;
  width: 60%; }

.one-third {
  margin-left: 65%;
  width: 35%; }

p#logo {
  float: left;
  font-family: arial, serif;
  font-weight: bold;
  font-size: 18px; }

p#logo a {
  color: #fff; }

p.hints, form.formtastic fieldset > ol > li p.inline-hints {
  font-size: 0.85em; }

p.hints {
  margin-bottom: 2em;
  color: #666; }

br.clear {
  clear: both; }

/* colours */
.new {
  background-color: #CC2323; }

.ready-for-review {
  background-color: #CC6231; }

.format-assigned {
  background-color: #00B735; }

.done {
  background-color: #3171CC; }

.bin {
  background-color: #A09A9F; }

#main-content.new {
  border-top-color: #CC2323; }
#main-content.ready-for-review {
  border-top-color: #CC6231; }
#main-content.format-assigned {
  border-top-color: #00B735; }
#main-content.done {
  border-top-color: #3171CC; }
#main-content.bin {
  border-top-color: #A09A9F; }

/* dataTable search box */
#needs-table_filter {
  background-color: #e5e5e5;
  padding: 0.5em 0.5em 0.5em 0.25em;
  margin-bottom: 1em;
  float: left;
}
#needs-table {
  clear: left;
}

/* arrow for menu */
div.arrow-right {
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -10px;
  width: 0px;
  height: 0px;
  border-bottom: 10px solid transparent;
  /* left arrow slant */
  border-top: 10px solid transparent;
  /* right arrow slant */
  border-left: 10px solid #000;
  /* bottom, add background color here */
  font-size: 0px;
  line-height: 0px;
  z-index: 1; }

a.new div.arrow-right {
  border-left-color: #CC2323; }

a.ready-for-review div.arrow-right {
  border-left-color: #CC6231; }

a.format-assigned div.arrow-right {
  border-left-color: #00B735; }

a.done div.arrow-right {
  border-left-color: #3171CC; }

a.bin div.arrow-right {
  border-left-color: #A09A9F; }

#id-status {
  float: right;
  padding: 10px;
  width: 160px;
  color: #fff; }

#id-number {
  font-size: 36px;
  font-weight: bold; }

#id-status h3 {
  margin-bottom: 0; }

h1 small {
  font-size: 0.5em; }

.need-section {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 2px #BFBFBF; }

.need-section h3 {
  font-weight: bold; }

#need-progress {
  padding-top: 32px;
  clear: both;
  color: #fff; }
  #need-progress h3 {
    font-weight: bold;
    font-size: 18px; }

#need-progress > div {
  padding: 16px; }

small.status-label {
  margin-left: 8px;
  padding: 2px 4px;
  font-size: 0.7em;
  color: #fff; }

/*#overview, #departments, #justifications {
  padding-bottom: 1em;
  margin-bottom: 2em;
  border-bottom: dashed 2px #E5E5E5;
}

#overview {
  float: left;
}

#metadata {
  padding: 1em;
  margin-top: -2em;
  margin-left: 5%;
  width: 30%;
  float: left;
  background: #F2F2F2;
  
  legend {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 2em;
    margin-bottom: 0.5em;
  }
}

#departments {
  clear: both;
}*/
form.formtastic fieldset.inputs {
  /*  padding-bottom: 1em;
    margin-bottom: 2em;
    border-bottom: dashed 2px #E5E5E5;*/ }

form.formtastic fieldset.buttons:last-child {
  /*  padding: 1.5em 1.25em 0 1.25em;*/
  /*  margin-bottom: 1em;*/
  /*  background: #EEEFEE;*/ }

form.formtastic fieldset.buttons li.commit {
  float: right; }

form.formtastic fieldset.buttons li.commit input, .button {
  padding: 0.25em 0.5em;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  background: #1d97ff;
  border: 4px #0065C1 solid;
  border-radius: 0.25em; }

#error_explanation {
  background-color: red; }

ul.supporting-information {
  margin: 0;
  padding: 0 0 16px 0; }

ul.supporting-information li {
  display: block;
  padding: 8px 8px 1px 8px;
  margin: 8px 0 0 0;
  background-color: #f6f6f6; } 

.button {
  border-width: 1px; }

#need-meta table {
  font-size: 0.9em;
  border: none;
}
#need-meta tr {
  border: none;
}
#need-meta th {
  font-weight: bold;
  vertical-align: baseline;
  padding: 4px 0;
  margin: 0;
  border: 0;
  border-top: 1px solid black;
}
#need-meta td {
  vertical-align: baseline;
  padding: 4px 0;
  margin: 0;
  border: 0;
  border-top: 1px solid black;
}
#need-meta tr:first-child td, #need-meta tr:first-child th {
  border-top: none;
}

#csv-download {
  margin-top: 2em;
  font-size: 0.8em;
}
ul.ui-autocomplete {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #8F8F8F;
	width:100px;
	list-style-type:none;
	padding:0;
	margin:0;
}
ul.ui-autocomplete li {
	font-size: 0.75em;
/*	margin: 0 0 0 26%;
	padding: 0.5em 0.75em 0 0;
	width: 64%;*/
}
ul.ui-autocomplete li {
	border-top: 1px solid #DBDAD9;
	list-style-type:none;
	padding:0;
	margin:0;
	width:100%;
}
ul.ui-autocomplete.ui-menu .ui-menu-item a {
	padding:0.5em;
	display:block;
}
ul.ui-autocomplete li a em {
	background-color: #FFE9A5;
	font-style: normal;
	font-weight: bold;
	padding: 0.125em;
}
ul.ui-menu .ui-menu-item a.ui-state-hover,
ul.ui-menu .ui-menu-item a.ui-state-active {
	margin: 0;
}

ul.ui-autocomplete.ui-menu .ui-menu-item.search-site em {
	font-style: italic;
}

form.formtastic ul.item-list {
  margin-top: 0.25em;
  padding-left: 1em;
}
form.formtastic ul.item-list li.existing {
  display: list-item;
  list-style: square;
  margin-bottom: 0.5em;
}
ul.item-list li span.button {
  line-height: 0.75em;
  padding: 0 0.25em;
  margin-left: 0.25em;
}
