body {
  background-color: #333;
}

.two-thirds {
  float: left;
  width: 60%;
}

.one-third {
  margin-left: 65%;
  width: 35%;
}

p#logo {
  float: left;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.125em;
}

p#logo a {
  color: #fff;
}

p.hints, form.formtastic fieldset > ol > li p.inline-hints {
  font-size: 0.85em;
}

p.hints {
  color: #666;
  margin-bottom: 2em;
}

br.clear {
  clear: both;
}

/* colours */
.new {
  background-color: #CC2323;
}
	#main-content.new {
	  border-top-color: #CC2323;
	}

.ready-for-review {
  background-color: #CC6231;
}
	#main-content.ready-for-review {
	  border-top-color: #CC6231;
	}

.format-assigned {
  background-color: #00B735;
}
	#main-content.format-assigned {
	  border-top-color: #00B735;
	}

.in-progress {
  background-color: #1F8175;
}
	#main-content.in-progress {
	  border-top-color: #1F8175;
	}


.done {
  background-color: #3171CC;
}
	#main-content.done {
	  border-top-color: #3171CC;
	}

.icebox {
  background-color: #A09A9F;
}
	#main-content.icebox {
	  border-top-color: #A09A9F;
	}


/* dataTable search box */
#needs-table_filter {
  background-color: #e5e5e5;
  /*float: left;*/
  margin-bottom: 1em;
  padding: 0.5em 0.5em 0.5em 0.25em;
}

#needs-table {
  /*clear: left;*/
	min-width: 60em;
}

/* needs table sorting icons */
#needs-table thead tr th {
  vertical-align: top;
}
#needs-table thead th .ui-icon {
  position: absolute;
  top: 0;
  right: 16px;
}
#needs-table thead th {
  position: relative;
  padding-right: 32px;
}

/* arrow for menu */
div.arrow-right {
  border-bottom: 0.625em solid transparent;
  border-top: 0.625em solid transparent;
  border-left: 0.625em solid #000;
  font-size: 0;
  height: 0;
  line-height: 0;
  margin-top: -0.625em;
  position: absolute;
  right: -0.625em;
  top: 50%;
  width: 0;
  z-index: 1;
}

a.new div.arrow-right {
  border-left-color: #CC2323;
}

a.ready-for-review div.arrow-right {
  border-left-color: #CC6231;
}

a.format-assigned div.arrow-right {
  border-left-color: #00B735;
}

a.done div.arrow-right {
  border-left-color: #3171CC;
}

a.bin div.arrow-right {
  border-left-color: #A09A9F;
}

#id-status {
  color: #fff;
  float: right;
  padding: 0.625em;
  width: 10em;
}

#id-number {
  font-size: 2.250em;
  font-weight: bold;
}

#id-status h3 {
  margin-bottom: 0;
}

h1 small {
  font-size: 0.5em;
}

.need-section {
  border-bottom: solid 0.125em #BFBFBF;
  margin-bottom: 1.250em;
  padding-bottom: 1.250em;
}

.need-section h3 {
  font-weight: bold;
}

#need-progress {
  color: #fff;
  clear: both;
  padding-top: 2em;
}
  #need-progress h3 {
    font-weight: bold;
    font-size: 1.125em;
}

#need-progress > div {
  padding: 1em;
}

small.status-label {
  color: #fff;
  font-size: 0.7em;
  margin-left: 0.5em;
  padding: 0.125em 0.250em;
}

form.formtastic fieldset.nested_items ol {
  border-bottom: solid 1px #EEE;
  margin-bottom: 1.5em;
}

form.formtastic fieldset.inputs > legend {
  font-size: 1.25em;
  font-weight: bold;
  padding: 0 0 1em;
  width: 50%;
}

form.formtastic fieldset.buttons li.commit {
  float: right;
}

form.formtastic fieldset.buttons li.commit input, p a.button, .fulfill, .button_to input[type="submit"] {
  background: #1d97ff;
  border: 0.125em #0065C1 solid;
  border-radius: 0.25em;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
}

form.formtastic .add_fields {
  margin: 1em 0;
}

.button_to input[type="submit"], .fulfill { font-size: 1em; }

.button_to input[type="submit"].button { background-color: #c00; border-color: #a00; }

#error_explanation {
  background-color: red;
}

ul.supporting-information {
  margin: 0;
  padding: 0 0 1em 0;
	overflow: hidden;
}

ul.supporting-information li {
  background-color: #f6f6f6;
  display: block;
  margin: 0.5em 0 0 0;
  padding: 0.5em 0.5em 0.063em 0.5em;
}

#need-meta table {
  border: none;
  font-size: 0.9em;
}

#need-meta tr {
  border: none;
}

#need-meta th,
#need-meta td {
  border: 0;
  border-top: 0.063em solid black;
  margin: 0;
  padding: 0.250em 0;
  vertical-align: baseline;
}
	#need-meta td {
	  font-weight: normal;
	}

	#need-meta tr:first-child td,
	#need-meta tr:first-child th {
	  border-top: none;
	}

#csv-download {
  float: left;
  font-size: 0.8em;
}

#csv-upload {
  float: right;
  font-size: 0.8em;
}

ul.ui-autocomplete {
	background: none repeat scroll 0 0 #FFF;
	border: 0.063em solid #8F8F8F;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 6.250em;
}

ul.ui-autocomplete li {
	font-size: 0.75em;
}

ul.ui-autocomplete li {
	border-top: 0.063em solid #DBDAD9;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

ul.ui-autocomplete.ui-menu .ui-menu-item a {
	padding: 0.5em;
	display: block;
}

ul.ui-autocomplete li a em {
	background-color: #FFE9A5;
	font-style: normal;
	font-weight: bold;
	padding: 0.125em;
}

ul.ui-menu .ui-menu-item a.ui-state-hover,
ul.ui-menu .ui-menu-item a.ui-state-active {
	margin: 0;
}

ul.ui-autocomplete.ui-menu .ui-menu-item.search-site em {
	font-style: italic;
}

form.formtastic ul.item-list {
  margin-top: 0.25em;
  padding-left: 1em;
}

form.formtastic ul.item-list li.existing {
  display: list-item;
  list-style: square;
  margin-bottom: 0.5em;
}

ul.item-list li span.button {
  line-height: 0.75em;
  margin-left: 0.25em;
  padding: 0 0.25em;
}

/* Nested models on the edit need form */

form.formtastic .nested_item {
  background-color: rgba(226, 223, 215, 1);
  border: 1px solid #bbb;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  margin: 0 0 1em 0;
  padding: 1em;
  position: relative;
}

form.formtastic .nested_item > fieldset > ol {
  margin: 0;
  padding: 0.5em 0 0;
}

.nested_item input, .nested_item select {
  margin: 0 0 0.75em 0;
}

.nested_item .delete-item {
  position: absolute;
  right: 0em;
  top: 0.5em;
}

form.formtastic .nested_item.deleted {
  border-color: #CCC;
  height: 2em;
  overflow: hidden;
}

.nested_items.deleted input, .nested_item.deleted select, .nested_item.deleted label {
  opacity: 0.25;
}

form.formtastic .add-item {
  text-align: right;
  margin-top: 0;
}

form.formtastic .add-item .button {
  margin-bottom: 0.25em;
}

form.formtastic .nested_item ol > li.boolean label {
  padding-left: 25%;
  width: auto;
}

form.formtastic fieldset > ol > li fieldset ol li.radio {
  padding: 0.5em 0;
}